<html>
<head>
    <title>SgtPeeper's blog</title>
</head>
<body>
    <div>
        <h1><a href="/">SgtPeeper's Blog</a></h1>
    </div>

    <div>
        <p>published: 02.03.2019, 11:16</p>
        <h2><a href="">My first post</a></h2>
        <p>Placeholder text, doesn't mean anything.</p>
    </div>

    <div>
        <p>published: 02.03.2019, 11:16</p>
        <h2><a href=""">My second post</a></h2>
        <p>More placeholder text, still doesn't mean anything.</p>
    </div>
</body>
</html>